<ion-card class="info-card">
  <ion-card-content>

    <div *ngIf="userInfo">

      <div class="profile-image-section">
        <ion-avatar class="details-avatar">
          <img [src]="userInfo.profileImageUrl" alt="Foto de perfil" />
        </ion-avatar>
        <ion-button fill="clear" (click)="cambiarFoto()" class="change-photo-button">
          <ion-icon name="camera" slot="start"></ion-icon>
          Cambiar foto
        </ion-button>
      </div>
      
      <form #infoForm="ngForm" class="info-form">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Nombre</mat-label>
          <input matInput [(ngModel)]="userInfo.nombre" name="nombre" required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Apellido</mat-label>
          <input matInput [(ngModel)]="userInfo.apellido" name="apellido" required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Nivel de Educación</mat-label>
          <mat-select [(ngModel)]="userInfo.educacion" name="educacion" required>
            <mat-option *ngFor="let nivel of nivelesEducacion" [value]="nivel.valor">
              {{ nivel.vistaValor }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Fecha de Nacimiento</mat-label>
          <input matInput [matDatepicker]="picker" [(ngModel)]="userInfo.fechaNacimiento" name="fechaNacimiento" required readonly>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <div class="location-container">
          <button type="button" mat-stroked-button color="accent" (click)="obtenerUbicacionActual()">
            <mat-icon>location_on</mat-icon>
            Obtener Mi Ubicación
          </button>
          <p *ngIf="userInfo.lat" class="location-coords">
            Ubicación: {{ userInfo.lat | number:'1.4-4' }}, {{ userInfo.lng | number:'1.4-4' }}
          </p>
        </div>

        <div class="form-buttons-container">
          <button type="button" mat-stroked-button color="warn" (click)="limpiarFormulario()">
            <mat-icon>delete_sweep</mat-icon> Limpiar
          </button>
          <button data-testid="guardar-datos-button" type="button" mat-raised-button color="primary" (click)="guardarInformacion()" [disabled]="infoForm.invalid">
            <mat-icon>save</mat-icon> Guardar
          </button>
        </div>
      </form>

    </div> </ion-card-content>
</ion-card>