.home-page-background {
  // En Ionic, se usa la variable --background para cambiar el color de fondo de ion-content
  --background: #f4f5f8; // Este es un color gris muy claro y suave, ideal para fondos.
}

.logout-button {
  --color: #ffffff;
  ion-icon {
    color: #ffffff;
  }
}

.header-avatar {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  border: 2px solid rgba(255, 255, 255, 0.7);
}